<div>

    <form class="form-style-8" name="registerForm" ng-submit="submit()" novalidate autocomplete="off">
        <h3>Register New Account</h3>
        <div>
            <input type="text" name="first_name" ng-model="first_name" placeholder="First Name" required>
            <span ng-show="registerForm.first_name.$error.required && registerForm.first_name.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.first_name.$invalid && registerForm.first_name.$touched">Invalid field<br/></span>
        </div>
        <div>
            <input type="text" name="last_name" ng-model="last_name" placeholder="Last Name" required>
            <span ng-show="registerForm.last_name.$error.required && registerForm.last_name.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.last_name.$invalid && registerForm.last_name.$touched">Invalid field</span>
        </div>
        <div>
            <input type="text" name="city" ng-model="city" placeholder="City" required>
            <span ng-show="registerForm.city.$error.required && registerForm.city.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.city.$invalid && registerForm.city.$touched">Invalid field</span>
        </div>
        <div>
            <input type="email" name="email"
                   ng-pattern="email_regex" ng-model="email"
                   placeholder="Email" required>
            <span ng-show="registerForm.email.$error.required && registerForm.email.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.email.$invalid && registerForm.email.$touched">Invalid field</span>
        </div>
        <div>
            <input type="text" name="user_name" ng-pattern="user_regex"
                   ng-model="user_name" ng-minlength="3" ng-maxlength="8"
                   placeholder="User Name" required>
            <span ng-show="registerForm.user_name.$error.required && registerForm.user_name.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.user_name.$error.minlength">Minimum length is 3<br/></span>
            <span ng-show="registerForm.user_name.$error.maxlength">Maximum length is 8<br/></span>
            <span ng-show="registerForm.user_name.$invalid && registerForm.user_name.$touched">Invalid field</span>
        </div>
        <div>
            <input type="text" name="password" ng-pattern="password_regex"
                   ng-model="password" ng-minlength="5" ng-maxlength="10"
                   placeholder="Password" required>
            <span ng-show="registerForm.password.$error.required && registerForm.password.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.password.$error.minlength">Minimum length is 3<br/></span>
            <span ng-show="registerForm.password.$error.maxlength">Maximum length is 8<br/></span>
            <span ng-show="registerForm.password.$invalid && registerForm.password.$touched">Invalid field</span>
        </div>
        <div>

            <select ng-model="country" name="country"
                    ng-options="x.Name for x in countries" required>
            </select>
            <span ng-show="registerForm.country.$error.required && registerForm.country.$touched">This field is required!<br/></span>
        </div>
        <div>
            <select id="interests" ng-model="category" name="category"
                    ng-options="x.category_name for x in interests" multiple required>
            </select>
            <span ng-show="registerForm.category.$error.required && registerForm.category.$touched">This field is required!<br/></span>
        </div>
        <div>
            <select ng-model="question1" name="question1"
                    ng-options="x.question for x in questions" required>
            </select>
            <span ng-show="registerForm.question1.$error.required && registerForm.question1.$touched">This field is required!<br/></span>
        </div>
        <div>
            <input type="text" name="answer1" ng-model="answer1" placeholder="Answer 1" required>
            <span ng-show="registerForm.answer1.$error.required && registerForm.answer1.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.answer1.$invalid && registerForm.answer1.$touched">Invalid field<br/></span>
        </div>

        <div>
            <select ng-model="question2" name="question2"
                    ng-options="x.question for x in questions" required>
            </select>
            <span ng-show="registerForm.question2.$error.required && registerForm.question2.$touched">This field is required!<br/></span>
        </div>
        <div>
            <input type="text" name="answer2" ng-model="answer2" placeholder="Answer 2" required>
            <span ng-show="registerForm.answer2.$error.required && registerForm.answer2.$touched">This field is required!<br/></span>
            <span ng-show="registerForm.answer2.$invalid && registerForm.answer2.$touched">Invalid field<br/></span>
        </div>
        <div>
            <input ng-disabled="registerForm.$invalid" type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>