<h1>My Website</h1>
<div>
    <form class="form-style-9" name="loginForm" ng-submit="submit()" novalidate>
        <h3>Log In</h3>
        <input type="text" name="user_name" ng-model="user_name" placeholder="User Name" required>
        <span ng-show="loginForm.user_name.$error.required && loginForm.user_name.$touched">This is required! </span>
        <input type="password" name="user_pass" ng-model="user_pass" placeholder="Password" required>
        <span ng-show="loginForm.user_pass.$error.required  && loginForm.user_pass.$touched">This is required! </span>
        <br/>
        <br/>
        <input ng-disabled="loginForm.$invalid" type="submit" id="submit" value="Submit">
    </form>
</div>